<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="John Timoteo">
  <title>Tarea 07</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/stylesheets/cover.css" rel="stylesheet">
</head>

<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">SENTRA</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Registro</a>
          <a class="nav-link" href="/about">Acerca</a>
          <a class="nav-link" href="/contact">Contacto</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">



      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="padding: 100px 200px 100px 200px;">
              <form>
                <div class="form-group">
                  <label>Seleccion un curso</label>
                  <select class="form-control">
                    <option value="java">Java</option>
                    <option value="php">PHP</option>
                    <option value="net">.NET</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
          <div class="carousel-item">
            <div style="padding: 100px 200px 100px 200px;">
              <form>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label class="form-check-label" >Básico</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label class="form-check-label">Intermedio</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label class="form-check-label" >Avanzado</label>
                </div>
              </form>
            </div>
          </div>
          <div class="carousel-item">
            <div style="padding: 100px 200px 100px 200px;">
              <form>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Default radio
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cursos en <a href="https://getbootstrap.com/">SENTRA</a> por <a href="https://linkedln/mdo">John Timoteo</a>.
        </p>
      </div>
    </footer>
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>